name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          template: terminal
          config_timezone: America/Lima
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_colors: github
